@use "./partials/variables" as v;
i {
  color: black;
}
i:visited {
  color: black;
}
footer {
  width: 100vw;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: v.$cal-poly-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  &_links {
    &:visited {
      color: black;
    }
    &:link {
      color: black;
      text-decoration: none;
    }
  }
}
