@use "./partials/variables" as v;
@use "./partials/queries";

i {
  color: black;
}
i:visited {
  color: black;
}
footer {
  width: 100vw;
}

.footer {
  width: 100vw;
  height: 15vh;
  background-color: v.$cal-poly-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  &_text {
    font-family: v.$customFont;
    font-size: 22px;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    @include queries.small-tablet {
      font-size: 26px;
    }
    @include queries.tablet {
      font-size: 26px;
    }
    @include queries.laptop {
      font-size: 30px;
    }
  }
  &_links {
    font-size: 20px;
    &:visited {
      color: black;
    }
    &:link {
      color: black;
      text-decoration: none;
    }
  }
  @include queries.small-tablet {
    font-size: 26px;
  }
  @include queries.tablet {
    font-size: 30px;
  }
  @include queries.laptop {
    font-size: 30px;
  }
}
