@use "./partials/variables" as v;
@use "./partials/queries";
i:hover {
  text-decoration: none;
}
a {
  align-self: center;
  margin-right: 3px;
  @include queries.small-tablet {
    font-size: 2em;
  }
  @include queries.tablet {
    font-size: 2.5em;
  }
  @include queries.laptop {
    font-size: 3em;
  }
}
.gallery {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 7vh;

  gap: 5px;
  box-shadow: 3px 3px 5px #8d8d92ff;
  @include queries.tablet {
    margin-top: 3vh;
    margin-bottom: 4vh;
  }
  &_heading {
    font-family: v.$customFont;
  }
  &_img {
    height: 100%;
    width: 100%;

    object-fit: contain;

    &_container {
      display: flex;
      justify-self: left;
      align-self: center;
      height: 90%;
      width: 50%;
      margin-left: 3px;
      @include queries.small-tablet {
        width: 45%;
      }
      @include queries.tablet {
        width: 40%;
      }
      @include queries.laptop {
        width: 35%;
      }
    }
  }
  &_text {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 75%;
    justify-content: center;
    align-items: center;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    gap: 0;
    &_header {
      font-size: 1em;
      margin: 0;
      font-size: 20px;
      text-align: center;
      @include queries.small-tablet {
        font-size: 1.5em;
      }
      @include queries.tablet {
        font-size: 1.75em;
      }
      @include queries.laptop {
        font-size: 2.25em;
      }
    }
    &_desc {
      font-size: 0;
      @include queries.small-tablet {
        font-size: 0.75em;
      }
      @include queries.tablet {
        font-size: 1em;
      }
      @include queries.laptop {
        font-size: 1.5em;
      }
    }
  }

  &--border {
    border: 1px solid black;
  }
  &--shadow {
    box-shadow: -3px 10px 45px -7px rgba(0, 0, 0, 0.68);
  }
  &--alignRight {
    align-items: flex-end;
  }
  &:hover {
    box-shadow: 3px 3px 3px black;
  }
}
