@use "./partials/variables";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10vh;
  padding: 0;
  flex-wrap: wrap;
  &_items {
    list-style: none;
    font-size: 2em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
