@use "./partials/variables";
@use "./partials/queries";
@use "./section.scss";
.nav {
  position: fixed;
  background-color: variables.$cal-poly-green;
  overflow: hidden;
  border-bottom: 3px solid black;
  width: 100%;
  &_responsive {
    position: fixed;
    .sections {
      scroll-margin-top: 0;
    }
  }
  &_icon {
    display: none;
    @include queries.phone {
      display: block;
      float: right;
      font-size: 40px;
    }
  }
  &_links {
    padding: 20px;
    display: block;
    font-family: variables.$navFont;
    text-decoration: none;
    float: left;
    color: lightgray;
    text-align: center;
    font-size: 22px;

    @include queries.phone {
      &:not(:first-child) {
        display: none;
      }
    }
    &:hover {
      background-color: rgb(66, 138, 66);
    }
    &:active {
      background-color: rgb(66, 138, 66);
    }

    @include queries.small-tablet {
      font-size: 20px;
      width: 18%;
      transition: 0.5s;
      &:hover {
        width: 20%;
      }
    }
    @include queries.tablet {
      font-size: 30px;
      width: 19%;
      transition: 0.5s;
      &:hover {
        width: 20%;
      }
    }
    @include queries.laptop {
      font-size: 50px;
      width: 19%;
      transition: 0.5s;
      &:hover {
        width: 24%;
      }
    }
  }

  &_responsive &_links {
    float: none;
    display: block;
    text-align: left;
    background-color: variables.$cal-poly-green;
    width: 100vw;
  }
  &_responsive &_icon {
    position: fixed;
    right: 0;
    top: 0;
  }
}
