@use "./partials/variables";
.nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;

  background-color: variables.$cal-poly-green;
  justify-content: center;
  overflow: hidden;

  &_links {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    align-content: center;

    gap: 8%;
  }
  &_text {
    color: lightgray;
    font-size: 22px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:active {
      text-decoration: underline;
    }
    //these stop the blue highlight on links when clicking
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &--border {
    border-bottom: 3px solid black;
  }
}
