.nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;

  background-color: rgb(104, 133, 207);

  &_links {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
  }
  &_text {
    color: black;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
