@use "./partials/variables";
.nav {
  width: 100vh;
  height: 10vh;
  position: fixed;
  display: flex;

  background-color: variables.$cal-poly-green;

  &_links {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    width: 100vw;
  }
  &_text {
    color: lightgray;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      text-decoration: none;
    }
  }

  &--border {
    border-bottom: 3px solid black;
  }
}
