@use "./partials/variables";
@use "./partials/queries";
.nav {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;

  background-color: variables.$cal-poly-green;
  justify-content: center;
  overflow: hidden;

  &_links {
    display: flex;
    flex-direction: row;
    font-family: variables.$navFont;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    gap: 8%;
  }
  &_text {
    color: lightgray;
    font-size: 22px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:active {
      text-decoration: underline;
    }
    //these stop the blue highlight on links when clicking
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include queries.small-tablet {
      font-size: 30px;
    }
    @include queries.tablet {
      font-size: 50px;
    }
    @include queries.laptop {
      font-size: 70px;
    }
  }

  &--border {
    border-bottom: 3px solid black;
  }
}
