@use "./partials/mixins";
@use "./partials/variables";

.sections {
  display: flex;
  height: 100vh;
  width: 100%;
  scroll-margin-top: 10vh;
  flex-direction: column;
  justify-content: center;

  &_heading {
    font-size: 30px;
  }

  &_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    &--whiteText {
      color: rgb(211, 211, 211);
    }
  }

  &_img {
    background-image: url("../assets/leaves.jpg");
    background-size: cover;
  }
  &_background {
    &--blue {
      background-color: variables.$oxford-blue;
    }
    &--gray {
      background-color: variables.$taupe-gray;
    }
    &--lightblue {
      background-color: variables.$celeste;
    }
    &--beige {
      background-color: variables.$beige;
    }
    &--green {
      background-color: variables.$cal-poly-green;
    }
  }
  &--whiteText {
    color: rgb(211, 211, 211);
  }
}
