@use "./section.scss";
@use "./nav.scss";
@use "./gallery.scss";
@use "./footer.scss";
@use "./partials/mixins.scss";
@use "./partials/queries";
body {
  margin: 0;
  width: 100%;
}
header {
  width: 100%;
}
article {
  width: 100%;
  display: flex;
  flex-direction: column;
}
