$xs: 430px;
$sm: 768px;

$lg: 1024px;

@mixin phone {
  @media only screen and (max-width: $xs) {
    @content;
  }
}

@mixin small-tablet {
  @media only screen and (min-width: ($xs + 1px)) and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($sm + 1px)) and (max-width: $lg) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($lg + 1px)) {
    @content;
  }
}
