@use "./variables";
@use "./queries";
@mixin text {
  font-family: variables.$customFont;
  font-size: 1.25em;
  text-align: center;
  @include queries.small-tablet {
    font-size: 1.5em;
  }
  @include queries.tablet {
    font-size: 1.75em;
  }
  @include queries.laptop {
    font-size: 2.5em;
  }
}
